In [1]:
# import dependencies
# May have more of less than we need here. (to be updated later)
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np

In [3]:
# Loading data
# path may be different than mine
file_path = Path("../Resources/renamed_tornado_data.csv")
tornado_df = pd.read_csv(file_path)
tornado_df.head()

,Year,Month,Day,Date,State,Magnitude,Injuries,Fatalities,Start Lat,Start Long,Ending Lat,Ending Long,Length in Miles,Width in Yards
0,1950,1,3,1950-01-03,IL,3,3,0,39.10,-89.30,39.12,-89.23,3.6,130
1,1950,1,3,1950-01-03,MO,3,3,0,38.77,-90.22,38.83,-90.03,9.5,150
2,1950,1,3,1950-01-03,OH,1,1,0,40.88,-84.58,0.00,0.00,0.1,10
3,1950,1,13,1950-01-13,AR,3,1,1,34.40,-94.37,0.00,0.00,0.6,17
4,1950,1,25,1950-01-25,IL,2,0,0,41.17,-87.33,0.00,0.00,0.1,100

In [12]:
tornado_df.nunique()

Year                  72
Month                 12
Day                   31
Date               12300
State                 53
Magnitude              7
Injuries             209
Fatalities            50
Start Lat          14215
Start Long         16024
Ending Lat         15043
Ending Long        16571
Length in Miles     2429
Width in Yards       405
dtype: int64

In [13]:
yar_count=tornado_df.Width in Yards.value_counts()
yar_count

AttributeError: 'DataFrame' object has no attribute 'Width'

In [10]:
# how many rows and columns
print(tornado_df.shape)

(67558, 14)

In [8]:
# Check types

In [4]:
# Look for null values
for column in tornado_df.columns:
    print(f"Column {column} has {tornado_df[column].isnull().sum()} null values")

Column Year has 0 null values
Column Month has 0 null values
Column Day has 0 null values
Column Date has 0 null values
Column State has 0 null values
Column Magnitude has 0 null values
Column Injuries has 0 null values
Column Fatalities has 0 null values
Column Start Lat has 0 null values
Column Start Long has 0 null values
Column Ending Lat has 0 null values
Column Ending Long has 0 null values
Column Length in Miles has 0 null values
Column Width in Yards has 0 null values

In [6]:
# look for duplicate rows
# Have fun playing with this. Tons and tons of duplicates! We will keep them all bc tornados happen everywhere all the time
print(f"Duplicate entries: {tornado_df[('COLUMN_NAME_GOES_HERE')].duplicated().sum()}")

Duplicate entries: 67505

In [ ]:
# drop columns if needed
# inplace = True means we are using this database instead of reassigning data base
tornado_df.drop(columns =["COLUMN_NAME_GOES_HERE", "COLUMN_NAME_GOES_HERE"], inplace=True)
tornado_df.head()

In [9]:
# Create target(X) and

(67558, 14)